.block {
    width: 30vw;
    height: 30vw;
    color: white;
    background-color: black;
}

.left {
    float: left;
    margin-right: 1.5rem;
}

/* similarly we can apply right float to our html */
/* p {
    margin-left: 10px;

    this will not get applied in the case of float, we have to apply it to the left class that is float class
} */